---
import Heading from "./Heading.astro";
import Link from "./Link.astro";
---

<section
  aria-label="Buy coffees"
  class="container grid place-items-center gap-6"
>
  <Heading tagType="h2" size="h3">Shop All Coffees</Heading>
  <Link href="#" style="square" classes="border-pine-text text-pine-text">
    Shop Now
  </Link>
</section>
